<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 命名空间:
    写的是: 对应的Mapper接口的全限定名(Mapper接口的包名.类名)
-->
 <mapper namespace="com.suke.mapper.SiteInfoMapper">

   <select id="getSiteInfo" resultType="com.suke.pojo.SiteInfo">
        SELECT company_number,
               dettled_company_number,
               engaged_people_number,
               covered_area,
               Construction_erea,
               Construction_land_erea
        FROM tb_site_info;

   </select>

</mapper>